.main-row-home-1{
    margin: 20px 0px 20px 0px;
    /* background-color: ghostwhite; */
}

.card{
    margin: 20px;
}

/* .card-btn{
    color: black;
    background-color: lightskyblue;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: large;
} */

/* .card-btn:hover{
    background: orange;
    
} */