.main-row-home-1 {
  margin: 20px 20px;
  /* background-color: brown; */
  width: auto;
}

.card {
  transition: all 0.5s ease;
  margin: 20px auto;
}

.card:hover {
  transition: all 0.4s ease;
  transform: translate3D(0,-1px,0) scale(1.20);
}






.card-image{
  height: 300px;
  width: 300px;
  transition: all 0.5s ease;
  margin: 30px;
  /* border: 2px solid black; */
  border-radius: 10%;
  box-shadow: 0 0 10px 1px grey;
}

.card-image:hover {
  transition: all 0.4s ease;
  transform: translate3D(0,-1px,0) scale(1.20);
  cursor: pointer;
}


















/* THIS IS THE CSS FOR POPUP OF THE CARDS  */



.modal-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  max-width: 50rem;
  max-height: 50rem;
  padding: 2rem  3rem;
  border-radius: 0.5rem;
  background-color: #fff;
}


.modal-done-btn{
  padding: 0.6rem 1.4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.modal-done-btn:hover{
  transition: all 0.4s ease;
  transform: translate3D(0,-1px,0) scale(1);
}

.modal-notdone-btn{
  padding: 0.6rem 1.4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-family: sans-serif;
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.modal-notdone-btn:hover{
  transition: all 0.4s ease;
  transform: translate3D(0,-1px,0) scale(1);
}

.button-for-card{
  display: flex;
}